* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:'Courier New', Courier, monospace;
  line-height: 1;
  font-weight: 400;
  color: var(--sub-color);
  background-color: var(--bg-color);
  position: relative;
}

:root {
  --bg-color: #018790;
  --main-color: #1d1b17;
  --caret-color: #1d1b17;
  --sub-color: #bacca4;
  --sub-alt-color: #7dad93;
  --text-color: #1d1b17;
  --error-color: #bf616a;
  --error-extra-color: #793e44;
}

.dark-mode {
  --bg-color: #0a516d;
  --main-color: #d79921;
  --caret-color: #fabd2f;
  --sub-color: #665c54;
  --sub-alt-color: #212121;
  --text-color: #bacca4;
  --error-color: #fb4934;
  --error-extra-color: #cc241d;
}




.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  padding: 2rem 4rem;
}

.logo {
  height: 3.6rem;
}

.logo--text {
  font-size: 2.8rem;
  position: flex;
  margin-right: auto;
  color: var(--sub-alt-color-color);
}

.mode {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moon-icon {
  width: 2.8em;
  height: 2.8rem;
  color: var(--sub-color);
  position: absolute;
  margin-bottom: 2rem;
  margin-right: 5rem;
}

.sun-icon {
  width: 2.6rem;
  height: 2.6rem;
  color: var(--main-color);
  position: absolute;
  margin-bottom: 2rem;
  margin-right: 5.2rem;

}

.moon-icon:hover,
.sun-icon:hover {
  color: var(--main-color);
  cursor: pointer;
}